.container {

    height: 40vh;
    flex-wrap: wrap;
    width: 60vw;
    margin: auto auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    width: 100%;
    text-align: center;
}

textarea {
    width: 100%;
    height: 10rem;
}

.stats-container {
    display: flex;
    justify-content: space-between;
}